<h1>Toutes les listes</h1>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>
<%= link_to 'Créer une liste', new_list_path %>
<%= cl_image_tag("tt8saacjuhjjp2lipx5u",
      width: 400, height: 300, crop: :fill) %>
